<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
<meta charset="UTF-8">
<title>Task</title>
        <style type="text/css">
                TD.leftcol {
                        width: 110px; /* Ширина левой колонки с рисунком */
                        vertical-align: top; /* Выравнивание по верхнему краю */
                }
        </style>

</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0">
        <tr>
                <td class="leftcol"><img th:src="@{/images/pre_project.jpg}" height="64" alt="kata"/></td>
                <td valign="top">
                        <h5 style="color:Gray;">Курсы / Java pre-project / Spring Boot, Spring Security и REST</h5>
                        <h3>Java pre-project. Практическая задача 3.1.2</h3>
                        <p>1. Необходимо перенести ваше CRUD-приложение на Spring Boot.</p></td>
                <td class="leftcol"><img th:src="@{/images/student.png}" height="64" alt="student"/></td>
        </tr>
</table>

<hr>
<h2><a href="/users">Решение</a></h2>
</body></title>
</head>
<body>

</body>
</html>